{% extends 'base.html' %}

{% block title %}My Page{% endblock %}

{% block style %}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.header-container {
    max-height: 50px;
    max-width: 1200px;
    min-width: 630px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.header {
    max-height: 30px;
    flex: 1;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e1e1e1;
}

.logo-mypage {
    width: auto;
    height: 30px;
}

.search {
    flex: 1;
    margin-left: 20px;
}

.search input::hover {
    border: 1px solid #30937c;
}

.search input[type=text] {
    width: 100%;
    padding: 8px;
    border: 1px solid #30937c;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f8f8f8;
}

.search button {
    display: none;
}

.search-input::placeholder {
    color: #30937c;
}
.profile {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin: 20px;
}

.profile img {
    max-width: 200px;
    margin-bottom: 20px;
}

.profile h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.ratings {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.ratings img {
    max-width: 50px;
    margin-right: 10px;
}

.ratings p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-bottom: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 2px 4px 6px 1 px rgba(1,0,0,0.1);
    padding: 20px;
}

.product img {
    max-width: 100%;
    margin-bottom: 10px;
}

.product h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.product button {
    background-color: #30937c;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.product button:hover {
    background-color: #ff6600;
}

.messages-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    
}

.message-success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
  
.message-danger {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}
  
.message-warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
    border: 1px solid #faebcc;
}
  
.message-info {
    background-color: #d9edf7;
    color: #31708f;
    border: 1px solid #bce8f1;
}

.close {
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

{% endblock %}

{% block dropdown-content %}
<div class="dropdown-content">
  <a href="{% url 'testpages/mypage' %}">My Page</a>
  <a href="#">Favorites</a>
  <a href="#">Cart</a>
  <a href="#">Settings</a>
  <a href="{% url 'logout' %}">Logout</a>
</div>
{% endblock %}

{% block content %}

{% if messages %}
  <div class="messages-container" role="alert">
    {% for message in messages %}
      <div class="message-{{ message.tags }}">
        <button type="button" class="close" data-dismiss="message" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message|safe }}
      </div>
    {% endfor %}
  </div>
  <script>
    // Find all close buttons for messages
    const closeButtons = document.querySelectorAll('.close')
    
    // For each close button, attach a click event listener that will hide its parent message element
    closeButtons.forEach(button => {
      button.addEventListener('click', () => {
        const message = button.parentNode
        message.style.display = 'none'
      })
    })
  </script>
  
{% endif %}

<div class="header-container">
    <div class="header">
        <img class="logo-mypage" src="https://img.icons8.com/ios-glyphs/1x/github-2.png" alt="Logo">
        <div class="search">
            <input class= "search-input" type="text" placeholder="Search products...">
            <button>Search</button>
        </div>
    </div>
</div>

<div class="container">
	<div class="profile">
		<img src="https://img.icons8.com/clouds/1x/starbucks.png" alt="Photo">
        <h1>{{products.0.owner.name}}</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod augue at nulla mollis dapibus. Vivamus tincidunt justo in augue consequat, sed gravida nulla vulputate.</p>
		<div class="ratings">
			<img src="https://img.icons8.com/ios/1x/thumb-up.png" alt="Rating">
			<p>4.5</p>
		</div>
        {% for product in products %}      
		<div class="products">
			<div class="product">
				<img src="{{ product.image_url }}" alt="Product 1">
				<h2>{{ product.name }}</h2>
				<p>{{ product.description }}</p>
				<button>Edit Product</button>
			</div>
        {% endfor %}
			<div class="product" style="padding-top:90px">
				<img src="https://img.icons8.com/color/1x/add-product.png" alt="Add Product">	
				<p></p>
				<button onclick="window.location.href='{% url 'testinput/form' %}';">Add Product</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% comment %} <div class="product">
    <img src="https://img.icons8.com/ios/1x/coffee-to-go.png" alt="Product 2">
    <h2>Product 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod augue at nulla mollis dapibus. Vivamus tincidunt justo in augue consequat, sed gravida nulla vulputate.</p>
    <button>Edit Product</button>
</div>
<div class="product">
    <img src="https://img.icons8.com/ios/1x/coffee-beans-.png" alt="Product 3">
    <h2>Product 3</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod augue at nulla mollis dapibus. Vivamus tincidunt justo in augue consequat, sed gravida nulla vulputate.</p>
    <button>Edit Product</button>
</div>
<div class="product">
    <img src="https://img.icons8.com/ios/1x/french-press.png" alt="Product 4">
    <h2>Product 4</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod augue at nulla mollis dapibus. Vivamus tincidunt justo in augue consequat, sed gravida nulla vulputate.</p>
    <button>Edit Product</button>
</div>
<div class="product">
    <img src="https://img.icons8.com/ios/1x/iced-coffee.png" alt="Product 5">
    <h2>Product 5</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod augue at nulla mollis dapibus. Vivamus tincidunt justo in augue consequat, sed gravida nulla vulputate.</p>
    <button>Edit Product</button>
</div> {% endcomment %}