<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
    </head>
  <body>
    {% if session %}
    <meta http-equiv="refresh" content="0; url=file:user.html">
    <h1>Welcome {{session.userinfo.name}}!</h1>
    <p><a href="{% url 'logout' %}">Logout</a></p>

    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <!-- <div><pre>{{pretty}}</pre></div> -->
    {% else %}
    <h1>Welcome To SD Shopping Centerr</h1>
    <p><a href="{% url 'login' %}">Login</a></p>
    {% endif %}
  </body>
</html>