{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}

{% block dropdown-content %}
<div class="dropdown-content">
  <a href="{% url 'testpages/mypage' %}">My Page</a>
  <a href="#">Favorites</a>
  <a href="#">Cart</a>
  <a href="#">Settings</a>
  <a href="{% url 'logout' %}">Logout</a>
</div>
{% endblock %}

{% block content %}
<section id="hero">
  <h1 style="color:#4a4545">Welcome to SD Shopping Center {{session.userinfo.name}}</h1>
  <p>Shop the latest trends in fashion, electronics, home goods and more!</p>
</section>
<section id="featured">
  <h2 style="color: #30937c">Featured Products</h2>
  <div class="product">
    <img src="https://img.icons8.com/external-photo3ideastudio-lineal-photo3ideastudio/1x/external-clothes-laundry-photo3ideastudio-lineal-photo3ideastudio.png" alt="Product 1" />
    <h3>Product 1</h3>
    <p>$19.99</p>
  </div>
  <div class="product">
    <img src="https://img.icons8.com/ios/1x/fast-moving-consumer-goods.png" alt="Product 2" />
    <h3>Product 2</h3>
    <p>$29.99</p>
  </div>
  <div class="product">
    <img src="https://img.icons8.com/ios/1x/car-service.png" alt="Product 3" />
    <h3>Product 3</h3>
    <p>$39.99</p>
  </div>
</section>
{% endblock %}
